<% include partials/header %>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
<hr>
<section class="containers">
  <section class="row">
    <a class="col-6 col-md-3 btn btn-lg px-4 btn-secondary" href="/authors" role="button">Authors
      <img src="/images/authors.jpg" height="30" alt="Authors">
    </a>
    <a class=" col-6 col-md-3 btn btn-lg px-4 btn-secondary active" href="/books" role="button">Books
      <img src="/images/books.jpeg" height="30" alt="Books">
    </a>
  </section>
</section>

<main id='background'>
  <hr>
  <section class='main-container'>
    <section id="main-section">

      <h1>Books</h1>
      <hr>
      <section class="rows">

        <% for(data of books) { %>


        <div class="w-100"></div>


        <strong>Title:
          <%=data.title%>&nbsp
        </strong>
<br>
        <section id="buttons" class="buttons">
          <button id="edit" type="button">Edit</button>
          <button id="delete" type="button">Delete</button>
        </section>
        <div class="w-100"></div>

        <hr>
        <section class="col-4 col-sm-3">
          <img src='<%=data.cover_url%>' height='130' width='130'>
        </section>

        <section class="col-4 col-sm-3">
          <strong>Description:</strong>
          <%=data.description%>
        </section>
        <br></br>
        <br></br>
        <section class="col-4 col-sm-3">
          <strong>Genre:</strong>
          <%=data.genre%>
        </section>

        <hr>
        <%}%>