<% include partials/header %>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<p class="row"></p>
<a class="col-3 btn btn-lg px-4 btn-dark" href="#" role="button">Authors <img src="/images/authors.jpg" height="30" alt="Authors"></a>
<p class="col"></p>
<a class=" col-3 btn btn-lg px-4 btn-dark" href="#" role="button">Books <img src="/images/books.jpeg" height="30" alt="Books"></a>
  <main id='background'>
    <section class='main-container'>
      <section id="main-section">
        <h1>Books</h1>
        <section class="rows">

          <% for(data of books) { %>
            <div class="w-100"></div>

            <strong>
              <%=data.title%>
            </strong>
            <div class="w-100"></div>

            <section class="col-4 col-sm-3">
              <strong>Genre:</strong>
              <%=data.genre%>
            </section>

            <div class="w-100"></div>

            <section class="col-4 col-sm-3">
              <strong>Description:</strong>
              <%=data.description%>
            </section>
            <br></br>
            <br></br>



            <section id="buttons" class="buttons">
              <button id="edit" type="button">Edit</button>
              <button id="delete" type="button">Delete</button>
              <button id="add" type="button">Add</button>
              </a>


            </section>
            <%}%>