* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
}

.row::after {
    clear: both;
    display: table;
}

.row {
    display: flex;
    flex-wrap: wrap;
}